<h1>Add Coffee to the Website</h1>
<p>If you find that a coffee drink is missing, this is the place to add it and share your favorite drink!</p><br>
<%= form_for @coffee do |f| %>
    <%= f.label :drink_name %>
    <%= f.text_field :drink_name %><br><br>
    <%= f.label :description %>
    <%= f.text_area :description %><br><br>

    <br><br>
    <label>Store Name: </label>
    <%= f.collection_select :store_id, Store.all, :id, :name %><br><br>

    <%= f.fields_for :store, Store.new() do |store_field| %>
        <%= store_field.label :store_name %>
        <%= store_field.text_field :name %>
    <% end %>

    <br><br>
    <%= f.submit %>
<% end %>