<h1><%= @coffee.drink_name %></h1>
<p><%= @coffee.description %></p>
<h3>Store: <%= link_to @coffee.store.name, store_path(@coffee.store) %></h3>
<h3>Average Rating: <%= avg_rating %>/5</h3>
<div>
    <h3>Reviews: </h3>
    <% @coffee.reviews.each do |review| %>
        <p>
        <%= review.user.username %> on <%= review.created_at.strftime("%b %d, %Y %l:%M%p")%><br>
        Rating: <%= review.rating %>/5<br> 
        Review: <%= review.content %>
        </p>
    <% end %>
</div>

<% if current_user %>
<h3>Tried it? Leave a Review!</h3>
<%= form_for @review do |f| %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :coffee_id, :value => @coffee.id %>
    <%= f.label :rating %>
    <%= f.number_field :rating, max: 5 %><br>
    <%= f.label :content %>
    <%= f.text_area :content %><br>
    <%= f.submit %>
<% end %>
<% end %>