<% if flash[:notice] %>
    <%= flash[:notice] %>
<% end %>
<% flash.clear %>

<h1>Welcome Back! Please Sign-in below to view your coffee profile!</h1>
<%= form_tag '/signin' do %>
    <label>Username: </label><br>
    <%= text_field_tag :username %><br>

    <label>Password: </label><br>
    <%= password_field_tag :password %><br><br>

    <%= submit_tag "Log in" %>
<% end %>
<br>
<h3>OR</h3>
<%= form_tag('/auth/github', method: 'post', data: {turbo: false}) do %>
    <button type='submit'>Login with GitHub</button>
<% end %>
