<h1>Add a Store</h1>
<% form_for @store do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>
    <%= f.label :location %>
    <%= f.text_field :location %>
    <%= f.submit %>
<% end %>