<h1>Welcome, <%= @user.first_name + " " + @user.last_name %></h1>
<p>You have reviewed the following coffees: </p>
<%= render partial: "coffees/form", locals: {coffees: @user.coffees} %>

<h2>Coffee</h2>
<table>
<% @coffees.each do |coffee| %>
    <tr>
    <td><%= coffee.drink_name %></td>
    <td><%= button_to 'Delete', coffee, :method => :delete %></td>
    <td><%= link_to 'Edit', edit_coffee_path(coffee) %>
    </tr>
<% end %>
<table>

<h2>Store</h2>
<table>
<% @stores.each do |store| %>
    <tr>
    <td><%= store.name %></td>
    <td><%= button_to 'Delete', store, :method => :delete %></td>
    <td><%= link_to 'Edit', edit_store_path(store) %>
    </tr>
<% end %>
<table>