<h1>Welcome, <%= @user.first_name + " " + @user.last_name %></h1>
<% if admin %>
<h2>Coffee</h2>
<table>
<% @coffees.each do |coffee| %>
    <tr>
    <td><%= coffee.drink_name %></td>
    <td><%= button_to 'Delete', coffee, :method => :delete %></td>
    <td><%= link_to 'Edit', edit_coffee_path(coffee) %>
    </tr>
<% end %>
<table>

<h2>Store</h2>
<table>
<% @stores.each do |store| %>
    <tr>
    <td><%= store.name %></td>
    <td><%= button_to 'Delete', store, :method => :delete %></td>
    <td><%= link_to 'Edit', edit_store_path(store) %>
    </tr>
<% end %>
<table>

<h2>Locations</h2>
<table>
<% @locations.each do |location| %>
    <tr>
    <td><%= location.street %></td>
    <td><%= location.city %></td>
    <td><%= location.state %></td>
    <td><%= location.zip_code %></td>
    <td><%= button_to 'Delete', location, :method => :delete %></td>
    <td><%= link_to 'Edit', edit_location_path(location) %>
    </tr>
<% end %>
<table>

<h2>Review</h2>
<table>
<% @reviews.each do |review| %>
    <tr>
    <td><%= review.content %></td>
    <td><%= button_to 'Delete', review, :method => :delete %></td>
    </tr>
<% end %>
<table>

<% else %>
<p>You have reviewed the following coffees: </p>
<%= render partial: "coffees/list", locals: {coffees: @user.coffees} %>

<% end %>